server:
  port: 5555
spring:
  application:
    name: rabbitmq
  rabbitmq:
    host: 47.106.85.65
    username: zouzf
    password: zouzf
    port: 5672
    virtual-host: /vhost_rabbit
    publisher-confirms: true
    publisher-returns: true
    listener:
      acknowledge-mode: auto #默认就是auto
      retry:
        enabled: true
        max-attempts: 5